<footer>
  <p>
    Made by <a href="https://github.com/bzangi" target="_blank">Bruno Zangirolami</a>
  </p>
  <p>
    Copyright &copy; 2005-<%= Time.now.year %>
    <%= link_to 'The Pragmatic Studio','https://pragmaticstudio.com' %>
  </p>
</footer>